# This file contains a list of Python packages required for this project to run.
# You can install these packages using pip. Simply run 'pip install -r requirements.txt' in your terminal.
numpy==1.19.5
pandas==1.2.4
streamlit==0.82.0
streamlit-webrtc==0.16.0
opencv-python-headless==4.5.2.54
onnxruntime==1.8.1
insightface==0.1.5
